apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer-deployment
  namespace: kafka
  labels:
    app: consumer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
      - name: consumer
        image: localhost:5000/consumer:latest
