name: Release

on:
  push:
    branches:
      - main
    paths:
      - "**/version"
  pull_request:
    branches:
      - main
    paths:
      - "**/version"

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Check out code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        id: filter
        with:
          filters: |
            kafka-http-connector:
              - 'kafka-http-connector/version'
            rabbitmq-http-connector:
              - 'rabbitmq-http-connector/version'
            aws-sqs-http-connector:
              - 'aws-sqs-http-connector/version'
            nats-streaming-http-connector:
              - 'nats-streaming-http-connector/version'
            nats-jetstream-http-connector:
              - 'nats-jetstream-http-connector/version'
            aws-kinesis-http-connector:
              - 'aws-kinesis-http-connector/version'
            gcp-pubsub-http-connector:
              - 'gcp-pubsub-http-connector/version'
            redis-http-connector:
              - 'redis-http-connector/version'

  run-docker-build-push-action:
    needs: check
    strategy:
      matrix:
        run: ${{ fromJSON(needs.check.outputs.packages) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: get version
        run: cd ${{ matrix.run }}; version=$(cat version);echo "version=$version" >> $GITHUB_ENV

      - name: Setup Ko
        uses: ko-build/setup-ko@ace48d793556083a76f1e3e6068850c1f4a369aa # v0.6

      - name: Build
        shell: bash
        run: |
          KO_DOCKER_REPO=ghcr.io/fission/keda-${{ matrix.run }} ko publish --platform=linux/amd64,linux/arm64,linux/arm/v7 -t ${{ env.version }} ./${{ matrix.run }} --bare
